body{
    background-color: black;
    color: white ;
    text-align: center;
}

.ball {
    
    display: flex;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}