body{
    background-color: black;
    color: white ;
    text-align: center;
}

.ball {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: auto;
    text-align: center;
    line-height: 100px;
}